/* Overrides */

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-password-toggle-button {
  display: none;
}


/* DIVIDER */

.divider {
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.1px;
  background-color: #614040;
  opacity: 0.2;
}

.divider::before{
  margin-right: 1rem;
}

.divider::after{
  margin-left: 1rem;
}